<h1>Angular Router Sample</h1>
<h2>Routing with Custom Matching</h2>

Navigate to <a routerLink="/@Angular">my profile</a>
<nav>
  <ul>
    <li>
      <a
        class="button"
        routerLink="/crisis-list"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Crisit Center</a
      >
    </li>
    <li>
      <a
        class="button"
        routerLink="/heroes-list"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Heroes</a
      >
    </li>
    <li>
      <a [routerLink]="['/heroes']">Heroes</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
